<div class="govuk-!-margin-bottom-8">
  <h2 id="contact-training-provider" class="govuk-heading-l">Contact this training provider</h2>
  <dl class="app-description-list">
    {% if provider.contact.email %}
      <dt class="app-list--description__label">Email</dt>
      <dd>{{ provider.contact.email | urlize | safe }}</dd>
    {% endif %}
    {% if provider.contact.telephone %}
      <dt class="app-list--description__label">Telephone</dt>
      <dd>{{ provider.contact.telephone }}</dd>
    {% endif %}
    {% if provider.contact.website %}
      <dt class="app-list--description__label">Website</dt>
      <dd>{{ provider.contact.website | urlize | safe }}</dd>
    {% endif %}
    <dt class="app-list--description__label">Address</dt>
    <dd>
      {% if provider.address.addressLine1 %}{{ provider.address.addressLine1 }}<br>{% endif %}
      {% if provider.address.addressLine2 %}{{ provider.address.addressLine2 }}<br>{% endif %}
      {% if provider.address.city %}{{ provider.address.city }}<br>{% endif %}
      {% if provider.address.county %}{{ provider.address.county }}<br>{% endif %}
      {% if provider.address.postcode %}{{ provider.address.postcode }}{% endif %}
    </dd>
  </dl>
</div>
