<div class="govuk-!-margin-bottom-8">
  <h2 id="training-partners" class="govuk-heading-l">Training partners</h2>

  <p class="govuk-body">We work with the following organisations to run our teacher training courses.</p>

  <table class="govuk-table app-table--vertical-align-middle" data-qa="course__choose_a_training_location">
      <caption class="govuk-visually-hidden">List of training partners</caption>
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Training partner</th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for partner in partners %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a class="govuk-link govuk-!-font-weight-bold" href="/providers/{{ provider.code }}/courses/{{ course.code }}/partners/{{ partner.code }}">
                {{ partner.name }}
              </a>
              <br>
              {{ partner.address | objectToArray | arrayToList(', ',', ') }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
